@using Cental.DtoLayer.ContactDtos
@model ResultContactDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Layout/Layout.cshtml";
}

<div class="card-header">
    <h5>Contact</h5>
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="card-body">

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Update</th>
        </tr>
        @if (Model == null)
        {
            <tr>
                <p>No value found</p>
            </tr>
        }
        else
        {
            <tr>
                <td>@Model.ContactId</td>
                <td>@Model.EMail</td>
                <td>@Model.Phone</td>
                <td>@Model.Address</td>
                <td><a asp-action="UpdateContact" asp-route-id="@Model.ContactId" asp-area="Admin" class="btn btn-info">Update</a></td>
            </tr>
        }
    </table>

    <a asp-action="CreateContact" asp-controller="Contact" asp-area="Admin" class="btn btn-primary">Add New Contact</a>
</div>
