@using Cental.DtoLayer.ContactDtos
@model UITopbarContactDto
@*
    _DefaultTopbarComponent
*@

<div class="container-fluid topbar bg-secondary d-none d-xl-block w-100">
    <div class="container">
        <div class="row gx-0 align-items-center" style="height: 45px;">
            <div class="col-lg-6 text-center text-lg-start mb-lg-0">
                <div class="d-flex flex-wrap">
                    <a href="/contact" class="text-muted me-4"><i class="fas fa-map-marker-alt text-primary me-2"></i>@Model.Address</a>
                    <a href="tel:@Model.Phone" class="text-muted me-4"><i class="fas fa-phone-alt text-primary me-2"></i>@Model.Phone</a>
                    <a href="mailto:@Model.EMail" class="text-muted me-0"><i class="fas fa-envelope text-primary me-2"></i>@Model.EMail</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-end">
                <div class="d-flex align-items-center justify-content-end">
                    <a href="@Model.FacebookUrl" class="btn btn-light btn-sm-square rounded-circle me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="@Model.XUrl" class="btn btn-light btn-sm-square rounded-circle me-3"><i class="fab fa-twitter"></i></a>
                    <a href="@Model.InstagramUrl" class="btn btn-light btn-sm-square rounded-circle me-3"><i class="fab fa-instagram"></i></a>
                    <a href="@Model.LinkedinUrl" class="btn btn-light btn-sm-square rounded-circle me-0"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>