<!DOCTYPE html>
<html class="no-js ss-preload" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Luther</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/wwwroot/css/vendor.css">
    <link rel="stylesheet" href="~/wwwroot/css/styles.css">

    <!-- favicons
    ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/wwwroot/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/wwwroot/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/wwwroot/favicon-16x16.png">
    <link rel="manifest" href="~/wwwroot/site.webmanifest">

</head>

<body id="top">


    <!-- # preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>


    <!-- # page wrap
    ================================================== -->
    <div class="s-pagewrap">

        <div class="circles">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>


        <!-- ## site header
        ================================================== -->
        @Html.Action("HomeHeader", "Home") 
    <!-- end s-header -->
        <!-- ## main content
        ==================================================- -->
        <main class="s-content">


            <!-- ### intro
            ================================================== -->
            @Html.Action("HomeBanner", "Home")
            <!-- end s-intro -->
            <!-- ### about
            ================================================== -->
            <section id="about" class="s-about target-section">
                @Html.Action("HomeAbout", "Home")
                <!-- about-info -->

                @Html.Action("HomeExpertise", "Home")
                <!-- end about-expertise -->

                <div class="row about-timelines" data-animate-block>

                    @Html.Action("HomeExperience", "Home") 
    <!-- end column -->

                    @Html.Action("HomeEducation", "Home") 
    <!-- end column -->


                </div> <!-- end about-timelines -->

            </section> <!-- end s-about -->
            <!-- ### works
            ================================================== -->
            <section id="works" class="s-works target-section">

                @Html.Action("HomeProjects","Home") 

    <!-- end works-portfolio -->

                @Html.Action("HomeTestimonials", "Home") 
    <!-- end row testimonials -->

            </section> <!-- end s-works -->
            <!-- ### contact
            ================================================== -->
            <section id="contact" class="s-contact target-section">

                @Html.Action("HomeContact", "Home")
            
    <!-- end contact-bottom -->

            </section> <!-- end contact -->

        </main> <!-- end s-content -->
        <!-- ## footer
        ================================================== -->
        
    @Html.Action("HomeFooter", "Home")

    <!-- end s-footer -->

    </div> <!-- end -s-pagewrap -->
    <!-- Java Script
    ================================================== -->
    <script src="~/wwwroot/js/plugins.js"></script>
    <script src="~/wwwroot/js/main.js"></script>
    @if (!string.IsNullOrEmpty(ViewBag.Error))
    {
        <script>
        alert('@ViewBag.Error');
        </script>
    }
</body>
</html>