@using Cental.DtoLayer.BannerDtos
@model List<UIBannerDto>
@*
    DefaultBannerComponent
*@

<div class="header-carousel">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li data-bs-target="#carouselId" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")" aria-current="true" aria-label="@i. slide"></li>
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @{int count = 0;}
            @foreach (var banner in Model)
            {
                <div class="carousel-item @(Model.First() == banner ? "active" : "")">
                    <img src="@banner.ImageUrl" class="img-fluid w-100" alt="@count. slide" />
                    <div class="carousel-caption">
                        <div class="container py-4">
                            <div class="row g-5">
                                @await Component.InvokeAsync("_DefaultBookingComponent")
                                <div class="col-lg-6 d-none d-lg-flex fadeInRight animated" data-animation="fadeInRight" data-delay="1s" style="animation-delay: 1s;">
                                    <div class="text-start">
                                        <h2 class="display-5 text-white">@banner.Title</h2>
                                        <p>@banner.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                count++;
            }
        </div>
    </div>
</div>