@using Cental.DtoLayer.BannerDtos
@model List<UIBannerDto>
@*
    DefaultBannerComponent
*@

<div class="header-carousel">
    <div id="carouselId" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
        <ol class="carousel-indicators">
            @for (int i = 0; i < Model.Count; i++)
            {
                <li data-bs-target="#carouselId" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")" aria-current="true" aria-label="@i. slide"></li>
            }
        </ol>
        <div class="carousel-inner" role="listbox">
            @{int count = 0;}
            @foreach (var banner in Model)
            {
                <div class="carousel-item @(Model.First() == banner ? "active" : "")">
                    <img src="@banner.ImageUrl" class="img-fluid w-100" alt="@count. slide" />
                    <div class="carousel-caption">
                        <div class="container py-4">
                            <div class="row g-5">
                                <div class="col-lg-6 fadeInLeft animated" data-animation="fadeInLeft" data-delay="1s" style="animation-delay: 1s;">
                                    <div class="bg-secondary rounded p-5">
                                        <h4 class="text-white mb-4">CONTINUE CAR RESERVATION</h4>
                                        <form>
                                            <div class="row g-3">
                                                <div class="col-12">
                                                    <select class="form-select" aria-label="Default select example">
                                                        <option selected>Select Your Car type</option>
                                                        <option value="1">VW Golf VII</option>
                                                        <option value="2">Audi A1 S-Line</option>
                                                        <option value="3">Toyota Camry</option>
                                                        <option value="4">BMW 320 ModernLine</option>
                                                    </select>
                                                </div>
                                                <div class="col-12">
                                                    <div class="input-group">
                                                        <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                                            <span class="fas fa-map-marker-alt"></span> <span class="ms-1">Pick Up</span>
                                                        </div>
                                                        <input class="form-control" type="text" placeholder="Enter a City or Airport" aria-label="Enter a City or Airport">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <a href="#" class="text-start text-white d-block mb-2">Need a different drop-off location?</a>
                                                    <div class="input-group">
                                                        <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                                            <span class="fas fa-map-marker-alt"></span><span class="ms-1">Drop off</span>
                                                        </div>
                                                        <input class="form-control" type="text" placeholder="Enter a City or Airport" aria-label="Enter a City or Airport">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="input-group">
                                                        <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                                            <span class="fas fa-calendar-alt"></span><span class="ms-1">Pick Up</span>
                                                        </div>
                                                        <input class="form-control" type="date">
                                                        <select class="form-select ms-3" aria-label="Default select example">
                                                            <option selected>12:00AM</option>
                                                            <option value="1">1:00AM</option>
                                                            <option value="2">2:00AM</option>
                                                            <option value="3">3:00AM</option>
                                                            <option value="4">4:00AM</option>
                                                            <option value="5">5:00AM</option>
                                                            <option value="6">6:00AM</option>
                                                            <option value="7">7:00AM</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="input-group">
                                                        <div class="d-flex align-items-center bg-light text-body rounded-start p-2">
                                                            <span class="fas fa-calendar-alt"></span><span class="ms-1">Drop off</span>
                                                        </div>
                                                        <input class="form-control" type="date">
                                                        <select class="form-select ms-3" aria-label="Default select example">
                                                            <option selected>12:00AM</option>
                                                            <option value="1">1:00AM</option>
                                                            <option value="2">2:00AM</option>
                                                            <option value="3">3:00AM</option>
                                                            <option value="4">4:00AM</option>
                                                            <option value="5">5:00AM</option>
                                                            <option value="6">6:00AM</option>
                                                            <option value="7">7:00AM</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <button class="btn btn-light w-100 py-2">Book Now</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-none d-lg-flex fadeInRight animated" data-animation="fadeInRight" data-delay="1s" style="animation-delay: 1s;">
                                    <div class="text-start">
                                        <h2 class="display-5 text-white">@banner.Title</h2>
                                        <p>@banner.Description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                count++;
            }
        </div>
    </div>
</div>