@using Cental.DtoLayer.FeatureDtos
@model List<ResultFeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    int count = 1;
}

<div class="card-header">
    <h5>Features</h5>
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="card-body">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Icon</th>
            <th>Delete Feature</th>
            <th>Update Feature</th>
        </tr>
        @foreach (var feature in Model)
        {
            <tr>
                <td>@count</td>
                <td>@feature.Title</td>
                <td>@feature.Description</td>
                <td><i class="@feature.Icon"></i></td>
                <td><a asp-action="DeleteFeature" asp-route-id="@feature.FeatureId" class="btn btn-danger">Delete</a></td>
                <td><a asp-action="UpdateFeature" asp-route-id="@feature.FeatureId" class="btn btn-info">Update</a></td>
            </tr>
            count++;
        }
    </table>

    <a asp-action="CreateFeature" asp-controller="AdminFeature" class="btn btn-primary">Add New Feature</a>
</div>
