@using Cental.DtoLayer.BookingDtos
@model List<UserPanelBookingDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/User/Views/UserLayout/Index.cshtml";
    int count = 1;
}

<div class="card-header">
    <h5>My Bookings</h5>
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="card-body">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Car</th>
            <th>Pick Up Place</th>
            <th>Pick Up Date</th>
            <th>Drop Off Place</th>
            <th>Drop Off Date</th>
            <th>Booking Status</th>
        </tr>
        @foreach (var booking in Model)
        {
            <tr>
                <td>@count</td>
                <td>@booking.Car.Brand.BrandName @booking.Car.ModelName</td>
                <td>@booking.PickUpPlace</td>
                <td>@booking.PickUpDate</td>
                <td>@booking.DropOffPlace</td>
                <td>@booking.DropOffDate</td>
                <td><span class="badge badge-info">@booking.BookingStatus</span></td>
            </tr>
            count++;
        }
    </table>
</div>