@model RestaurantProject.Models.RestaurantMeta

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>@Model.Title</title>
    <meta name="description" content="@Model.Description">
    <meta property="og:title" content="@Model.Title">
    <meta property="og:description" content="@Model.Description">
    <meta property="og:image" content="@(Request.Url.Scheme + "://" + Request.Url.Authority + Model.ImageUrl)">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@(Request.Url.Scheme + "://" + Request.Url.Authority)">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="@Model.Title">
    <meta name="twitter:description" content="@Model.Description">
    <meta name="twitter:image" content="@(Request.Url.Scheme + "://" + Request.Url.Authority + Model.ImageUrl)">

    <!-- Favicons -->
    <link href="/assets/web/assets/img/favicon.png" rel="icon">
    <link href="/assets/web/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Amatic+SC:wght@400;700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/web/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/web/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/web/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/web/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/web/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="/assets/web/assets/css/main.css" rel="stylesheet">
</head>