<main class="main">

    <!-- Hero Section -->
    @Html.Action("HomeHero", "Home")
    <!-- /Hero Section -->
    <!-- About Section -->
    @Html.Action("HomeAbout", "Home")
    
    <!-- /About Section -->
    <!-- Why Us Section -->
    @Html.Action("HomeService", "Home")
    <!-- /Why Us Section -->
    <!-- Stats Section -->
    @Html.Action("HomeStats", "Home")
    <!-- /Stats Section -->
    <!-- Menu Section -->
    @Html.Action("HomeMenu", "Home")
    <!-- /Menu Section -->
    <!-- Testimonials Section -->
    @Html.Action("HomeTestimonial", "Home")
    <!-- /Testimonials Section -->
    <!-- Events Section -->
    @Html.Action("HomeEvents", "Home") 
    <!-- /Events Section -->
    <!-- Chefs Section -->
    @Html.Action("HomeChefs", "Home")
    <!-- /Chefs Section -->
    <!-- Book A Table Section -->
    @Html.Action("HomeBookTable", "Home")
    <!-- /Book A Table Section -->
    <!-- Gallery Section -->
    @Html.Action("HomeGallery", "Home")
    <!-- /Gallery Section -->
    <!-- Contact Section -->
    @Html.Action("HomeContact", "Home")
    <!-- /Contact Section -->
</main>