@model MyPortfolio.Models.TblUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout/AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">


    <div class="row fv-plugins-icon-container">
        <div class="col-md-12">
            <div class="nav-align-top">
                <ul class="nav nav-pills flex-column flex-md-row mb-6">
                    <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="bx bx-sm bx-user me-1_5"></i> My Profile</a></li>
                </ul>
            </div>
            <div class="card mb-6">
                <form action="/Profile/Index" method="post" enctype="multipart/form-data" class="fv-plugins-bootstrap5 fv-plugins-framework" ></form>
                <!-- Account -->
                @using (Html.BeginForm("Index", "Profile", FormMethod.Post, new { @class = "fv-plugins-bootstrap5 fv-plugins-framework" , @enctype = "multipart/form-data"}))
                {
                    @Html.AntiForgeryToken()
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-6 pb-4 border-bottom">
                            <img src="@Model.ProfilePictureUrl" alt="user-avatar" class="d-block w-px-100 h-px-100 rounded" id="uploadedAvatar">
                            <div class="button-wrapper">
                                <div class="input-group">
                                    <label class="input-group-text" for="ImageFile">Upload</label>
                                    <input type="file" class="form-control" name="ImageFile" id="ImageFile">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-4">

                        <div class="row g-6">
                            <div class="col-md-6 fv-plugins-icon-container">
                                <label for="Name" class="form-label">Name</label>
                                <input class="form-control" type="text" name="Name" id="Name" value="@Model.Name">
                                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                            </div>
                            <div class="col-md-6">
                                <label for="email" class="form-label">E-mail</label>
                                <input class="form-control" type="text" id="EMail" name="EMail" value="@Model.EMail" placeholder="yavuz.yazici@example.com">
                            </div>
                            <div class="col-md-6">
                                <label for="UserName" class="form-label">UserName</label>
                                <input type="text" class="form-control" id="UserName" name="UserName" value="@Model.UserName">
                            </div>
                            <div class="col-md-6 fv-plugins-icon-container">
                                <label for="ProfilePictureUrl" class="form-label">Image Url</label>
                                <input class="form-control" type="text" name="ProfilePictureUrl" id="ProfilePictureUrl" value="@Model.ProfilePictureUrl">
                                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="mt-6">
                            <div class="col-md-6">
                                <label for="Password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="Password" name="Password" placeholder="Type your password for save changes">
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary me-3">Save changes</button>
                            <button type="reset" class="btn btn-label-secondary">Cancel</button>
                        </div>
                        <input type="hidden">
                    </div>
                }
                <!-- /Account -->
            </div>
        </div>
    </div>


</div>