@using MongoDbProject.Dtos.AboutDtos
@model List<ResultAboutDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
    int count = 1;
}

<div class="card-header">
    <h5>Abouts</h5>
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="card-body">

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Feature 1</th>
            <th>Feature 2</th>
            <th>Feature 3</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        @foreach (var Abouts in Model)
        {
            <tr>
                <td>@count</td>
                <td>@Abouts.Title</td>
                <td>@Abouts.Description.Substring(0,20)...</td>
                <td>@Abouts.Feature1</td>
                <td>@Abouts.Feature2</td>
                <td>@Abouts.Feature3</td>
                <td><a asp-action="DeleteAbout" asp-route-id="@Abouts.AboutId" asp-area="Admin" class="btn btn-danger">Delete</a></td>
                <td><a asp-action="UpdateAbout" asp-route-id="@Abouts.AboutId" asp-area="Admin" class="btn btn-info">Update</a></td>
            </tr>
            count++;
        }
    </table>

    <a asp-action="CreateAbout" asp-controller="About" asp-area="Admin" class="btn btn-primary">Add New About</a>
</div>