@model List<MyPortfolio.Models.MyPortfolioTblTestimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout/AdminLayout.cshtml";
}


<div class="card">
    <div class="d-flex justify-content-between align-items-center p-3">
        <h5 class="card-header mb-0">
            Testimonials
        </h5>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addTestimonial">
            <span class="tf-icons bx bxs-file-plus bx-18px me-2"></span>Add Testimonial
        </button>
    </div>
    <!-- AddTestimonialModal -->
    <div class="modal fade" id="addTestimonial" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addTestimonialTitle">Add Testimonial</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("Add", "Testimonial", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-6">
                                <input class="form-control" type="hidden" name="TestimonialId" id="addTestimonialId" placeholder="Id" readonly>
                                <div class="mb-4">
                                    <label for="addTestimonialName" class="form-label">Name</label>
                                    <input type="text" class="form-control" name="NameSurname" id="addTestimonialName" placeholder="Type your Testimonial name.">
                                </div>
                                <div class="mb-4">
                                    <label for="addTitle" class="form-label">Title</label>
                                    <input class="form-control" name="Title" id="addTitle" placeholder="Type title to here.">
                                </div>
                                <div class="mb-4">
                                    <label for="addImageUrl" class="form-label">Image Url</label>
                                    <input class="form-control" name="ImageUrl" id="addImageUrl" placeholder="Type your image url to here.">
                                    <small>nullable</small>
                                </div>
                                <div class="mb-4">
                                    <label for="addDescription" class="form-label">Comment</label>
                                    <textarea style="height: 150px;" class="form-control" name="Comment" id="addDescription" placeholder="Type your comment to here."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-warning">Add</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- UpdateTestimonialModal -->
    <div class="modal fade" id="updateTestimonial" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Testimonial</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("Update", "Testimonial", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-6">
                                <input class="form-control" type="hidden" name="TestimonialId" id="updateTestimonialId" placeholder="Id" readonly>
                                <div class="mb-4">
                                    <label for="updateNameSurname" class="form-label">Name Surname</label>
                                    <input type="text" class="form-control" name="NameSurname" id="updateNameSurname" placeholder="Name">
                                </div>
                                <div class="mb-4">
                                    <label for="updateTitle" class="form-label">Title</label>
                                    <input class="form-control" name="Title" id="updateTitle" placeholder="Type title to here.">
                                </div>
                                <div class="mb-4">
                                    <label for="updateImageUrl" class="form-label">Image Url</label>
                                    <input class="form-control" name="ImageUrl" id="updateImageUrl" placeholder="Type your image url to here.">
                                    <small>nullable</small>
                                </div>
                                <div class="mb-4">
                                    <label for="updateComment" class="form-label">Comment</label>
                                    <textarea style="height: 150px;" class="form-control" name="Comment" id="updateComment" placeholder="Type your comment to here."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-warning">Update</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- DeleteTestimonialModal -->
    <div class="modal fade" id="deleteTestimonial" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteTestimonialTitle">Delete Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("Delete", "Testimonial", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <p>Bu işlem geri alınamaz. Emin misiniz?</p>
                        <!-- Kategori ID'si için gizli input -->
                        <input type="hidden" name="TestimonialId" id="modalItemId"/>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-6 mb-12 p-5">
        @foreach (var testimonial in Model)
        {
            <div class="col">
                <div class="card h-100 bg-light text-dark p-3" style="min-height: 250px; border: none;">
                    <div class="d-flex align-items-center">
                        <!-- Profil Resmi -->
                        <img class="rounded-circle me-3" src="@(testimonial.ImageUrl == null ? "/wwwroot/images/avatars/no-pic.png" : testimonial.ImageUrl)" alt="Profile Image" style="width: 50px; height: 50px;">
                        <div>
                            <!-- İsim ve Unvan -->
                            <h5 class="mb-0">@testimonial.NameSurname</h5>
                            <small class="text-muted">@testimonial.Title</small>
                        </div>
                    </div>

                    <!-- Yorum -->
                    <div class="mt-3">
                        <p class="card-text">
                            @testimonial.Comment
                        </p>
                    </div>

                    <!-- Düzenle ve Sil Butonları -->
                    <div class="mt-2">
                        <button type="button" class="btn btn-outline-secondary btn-sm"
                                onclick="showUpdateModal(
                        @testimonial.TestimonialId,
                        '@testimonial.NameSurname',
                        '@testimonial.Title',
                        '@testimonial.ImageUrl',
                        '@Html.Raw(HttpUtility.JavaScriptStringEncode(testimonial.Comment))')">
                            <span class="tf-icons bx bx-edit-alt bx-18px me-1"></span> Update
                        </button>
                        <button type="button" class="btn btn-outline-secondary btn-sm" onclick="showDeleteModal(@testimonial.TestimonialId)">
                            <span class="tf-icons bx bx-x bx-18px me-1"></span> Delete
                        </button>
                    </div>

                    <!-- Badge -->
                    <span class="badge rounded-pill bg-secondary position-absolute top-0 end-0 m-2">@testimonial.TestimonialId</span>
                </div>
            </div>
        }
    </div>
</div>
<script>
    function showDeleteModal(testimonialId) {
        // Modal içindeki gizli input'a ID değerini aktarır
        $('#modalItemId').val(testimonialId);

        // Modalı gösterir
        $('#deleteTestimonial').modal('show');
    }
    function showUpdateModal(testimonialId, testimonialNameSurname, testimonialTitle, testimonialImageUrl, testimonialComment) {
        // Modal içindeki gizli input'a ID değerini aktarır

        $('#updateTestimonialId').val(testimonialId);
        $('#updateNameSurname').val(testimonialNameSurname)
        $('#updateTitle').val(testimonialTitle)
        $('#updateImageUrl').val(testimonialImageUrl)
        $('#updateComment').val(testimonialComment)


        // Modalı gösterir
        $('#updateTestimonial').modal('show');
    }
</script>