@model MyPortfolio.Models.MyPortfolioTblAbout

<div class="row about-info wide" data-animate-block>
    <div class="column lg-6 md-12 about-info__pic-block">
        <img src="@Model.ImageUrl"
             srcset="@Model.ImageUrl" alt="About Picture" class="about-info__pic" data-animate-el>
    </div>
    <div class="column lg-6 md-12">
        <div class="about-info__text">
            <h2 class="text-pretitle with-line" data-animate-el>
                @Model.Title
            </h2>
            <p class="attention-getter" data-animate-el>
                @Model.Description
            </p>
            <a href="@Model.CvUrl" target="_blank" class="btn btn--medium u-fullwidth" data-animate-el>CV</a>
        </div>
    </div>
</div>