@model List<MyPortfolio.Models.MyPortfolioTblEducation>
<div class="column lg-6 tab-12">

    <h2 class="text-pretitle" data-animate-el>
        Education
    </h2>

    <div class="timeline" data-animate-el>

        @foreach (var education in Model)
        {
            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <h4 class="timeline__title">@education.SchoolName</h4>
                    <h5 class="timeline__meta">@education.Department</h5>
                    <p class="timeline__timeframe">@education.StartDate.ToString("yyyy MMMM") - @(education.EndDate == null ? "Günümüz" : education.EndDate?.ToString("yyyy MMMM"))</p>
                </div>
                <div class="timeline__desc">
                    <p>@education.Description</p>
                </div>
            </div>
        }

    </div> <!-- end timeline -->

</div>