@model List<MyPortfolio.Models.MyPortfolioTblExperience>
<div class="column lg-6 tab-12">

    <h2 class="text-pretitle" data-animate-el>
        Experience
    </h2>

    <div class="timeline" data-animate-el>

        @foreach (var experience in Model)
        {
            <div class="timeline__block">
                <div class="timeline__bullet"></div>
                <div class="timeline__header">
                    <h4 class="timeline__title">@experience.CompanyName</h4>
                    <h5 class="timeline__meta">@experience.Title</h5>
                    <p class="timeline__timeframe">@experience.StartDate.ToString("yyyy MMMM") - @(experience.EndDate== null ? "Günümüz" : experience.EndDate?.ToString("yyyy MMMM"))</p>
                </div>
                <div class="timeline__desc">
                    <p>@experience.Description</p>
                </div>
            </div>
        }
    </div> <!-- end timeline -->

</div>