@model BasicCRUDoperations.Models.Entity.BasicCRUDTblProduct
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <input type="hidden" name="ProductId" value="@Model.ProductId" />
        <label>Product Name</label>
        <input type="text" name="ProductName" class="form-control" value="@Model.ProductName"/>
        <br />
        <label>Product Category</label>
        <select class="form-control" name="ProductCategory" value="@Model.ProductCategory">
            @foreach (var item in ViewBag.Categories)
            {
                <option value="@item.CategoryId" @(item.CategoryId == Model.ProductCategory ? "selected" : "")>@item.CategoryName</option>
            }
        </select>
        <br />
        <label>Brand</label>
        <input type="text" name="Brand" class="form-control" value="@Model.Brand"/>
        <br />
        <label>Price</label>
        <input type="text" name="Price" class="form-control" value="@Model.Price"/>
        <br />
        <label>Stock</label>
        <input type="text" name="Stock" class="form-control" value="@Model.Stock"/>
    </div>
    <br />
    <div>
        <button class="btn btn-info">Update Product</button>
    </div>
</form>
