@model List<MyPortfolio.Models.MyPortfolioTblEducation>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout/AdminLayout.cshtml";
}


<div class="card">
    <div class="d-flex justify-content-between align-items-center p-3">
        <h5 class="card-header mb-0">
            Education
        </h5>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEducation">
            <span class="tf-icons bx bxs-file-plus bx-18px me-2"></span>Add Education
        </button>
    </div>
    <!-- AddEducationModal -->
    <div class="modal fade" id="addEducation" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEducationTitle">Add Education</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("Add", "Education", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-6">
                                <input class="form-control" type="hidden" name="EducationId" id="addEducationId" placeholder="Id" readonly="">
                                <div class="mb-4">
                                    <label for="addEducationSchoolName" class="form-label">Company Name</label>
                                    <input type="text" class="form-control" name="SchoolName" id="addEducationSchoolName" placeholder="Atak Domain, Domain Name API...">
                                </div>
                                <div class="mb-4">
                                    <label for="addEducationDepartment" class="form-label">Department</label>
                                    <textarea class="form-control" name="Department" id="addEducationDepartment" placeholder="Write your title on company."></textarea>
                                </div>
                                <div class="mb-4">
                                    <label for="addEducationStartDate" class="form-label">Start Date</label>
                                    <input class="form-control" name="StartDate" type="date" id="addEducationStartDate">
                                </div>
                                <div class="mb-4">
                                    <label for="addEducationEndDate" class="form-label">End Date</label>
                                    <input class="form-control" type="date" name="EndDate" id="addEducationEndDate">
                                    <small>It can be skipped. Passing blank represents that the work is still in progress</small>
                                </div>
                                <div class="mb-4">
                                    <label for="addEducationDesc" class="form-label">Description</label>
                                    <textarea style="height:150px" name="Description" class="form-control" id="addEducationDesc" placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-warning">Add</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- UpdateEducationModal -->
    <div class="modal fade" id="updateEducation" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Education</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("Update", "Education", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-6">
                                <input class="form-control" type="hidden" name="EducationId" id="updateEducationId" placeholder="Id" readonly="">
                                <div class="mb-4">
                                    <label for="updateEducationSchoolName" class="form-label">Company Name</label>
                                    <input type="text" class="form-control" name="SchoolName" id="updateEducationSchoolName" placeholder="Atak Domain, Domain Name API...">
                                </div>
                                <div class="mb-4">
                                    <label for="updateEducationDepartment" class="form-label">Department</label>
                                    <textarea class="form-control" name="Department" id="updateEducationDepartment" placeholder="Write your title on company."></textarea>
                                </div>
                                <div class="mb-4">
                                    <label for="updateEducationStartDate" class="form-label">Start Date</label>
                                    <input class="form-control" name="StartDate" type="date" id="updateEducationStartDate">
                                </div>
                                <div class="mb-4">
                                    <label for="updateEducationEndDate" class="form-label">End Date</label>
                                    <input class="form-control" name="EndDate" type="date" id="updateEducationEndDate">
                                    <small>It can be skipped. Passing blank represents that the work is still in progress</small>
                                </div>
                                <div class="mb-4">
                                    <label for="updateEducationDesc" class="form-label">Description</label>
                                    <textarea style="height:150px" name="Description" class="form-control" id="updateEducationDesc" placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-warning">Update</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <!-- DeleteEducationModal -->
    <div class="modal fade" id="deleteEducation" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Education</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("Delete", "Education", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="modal-body">
                        <p>There is no come back. Are you sure?</p>
                        <input class="form-control" type="hidden" name="EducationId" id="deleteEducationId" placeholder="Id" readonly="">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:-40px">
        <div class="p-5">
            <div class="mt-4">
                <div class="list-group">
                    @foreach (var education in Model)
                    {
                        <div href="javascript:void(0);"
                             class="list-group-item list-group-item-action flex-column align-items-start @(education.EndDate == null ? "active" : "")">
                            <div class="d-flex justify-content-between w-100">
                                <h5 class="mb-1"><br />@education.SchoolName</h5>
                                <small><br />@education.StartDate.ToString("yyyy MMMM") - @(education.EndDate?.ToString("yyyy MMMM") ?? "Present")</small>
                            </div>
                            <h6 class="mb-1 bold">Department: @education.Department</h6>
                            <p class="mb-1">
                                @education.Description
                            </p>

                            <div class="d-flex justify-content-end mt-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        Actions
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" onclick="showUpdateModal(@education.EducationId, '@education.SchoolName', '@education.Department', '@education.StartDate.ToString("yyyy-MM-dd")', '@(education.EndDate?.ToString("yyyy-MM-dd") ?? null )', '@Html.Raw(HttpUtility.JavaScriptStringEncode(education.Description))')">
                                                <i class="bx bx-edit-alt me-1"></i> Update
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" onclick="showDeleteModal(@education.EducationId)">
                                                <i class="bx bx-trash me-1"></i> Delete
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showUpdateModal(educationId, educationSchoolName, educationDepartment, startDate, endDate, educationDesc) {
        // Modal içindeki gizli input'a ID değerini aktarır

        $('#updateEducationId').val(educationId);
        $('#updateEducationSchoolName').val(educationSchoolName)
        $('#updateEducationDepartment').val(educationDepartment)
        $('#updateEducationStartDate').val(startDate)
        $('#updateEducationEndDate').val(endDate)
        $('#updateEducationDesc').val(educationDesc)

        // Modalı gösterir
        $('#updateEducation').modal('show');
    }
    function showDeleteModal(educationId) {
        // Modal içindeki gizli input'a ID değerini aktarır
        $('#deleteEducationId').val(educationId);

        // Modalı gösterir
        $('#deleteEducation').modal('show');
    }
</script>
