@model List<MyPortfolio.Models.MyPortfolioTblProject>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout/AdminLayout.cshtml";
}

<div class="card">
    <div class="d-flex justify-content-between align-items-center p-3">
        <h5 class="card-header mb-0">
            Projects
        </h5>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProject">
            <span class="tf-icons bx bxs-file-plus bx-18px me-2"></span>Add Project
        </button>
    </div>
    
    <!-- AddprojectModal -->
    <div class="modal fade" id="addProject" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addprojectTitle">Add Project</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("Add", "Project", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-6">
                                <input class="form-control" type="hidden" name="projectId" id="addProjectId" placeholder="Id" readonly="">
                                <div class="mb-4">
                                    <label for="addProjectName" class="form-label">Name</label>
                                    <input type="text" class="form-control" name="Name" id="addProjectName" placeholder="Type your project name.">
                                </div>
                                <div class="mb-4">
                                    <label for="addImageUrl" class="form-label">Image Url</label>
                                    <input class="form-control" name="ImageUrl" id="addImageUrl" placeholder="Type your image url to here.">
                                </div>
                                <div class="mb-4">
                                    <div class="button-wrapper">
                                        <label for="ProjectImage" class="form-label">Upload Project Image</label>
                                        <input type="file" class="form-control" name="ProjectImage" id="ProjectImage">
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="addDescription" class="form-label">Description</label>
                                    <textarea style="height: 150px;" class="form-control" name="Description" id="addDescription" placeholder="Type your project description to here."></textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="SelectCategoryId" class="form-label">Category:</label>
                                    <select id="SelectCategoryId" name="CategoryId" class="form-select">
                                        <option value="">Select an option</option>
                                        @foreach (var category in ViewBag.Categories)
                                        {
                                            <option value="@category.CategoryId">@category.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="addGithubUrl" class="form-label">Github Url</label>
                                    <input class="form-control" name="GithubUrl" id="addGithubUrl" placeholder="Type your image url to here.">
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-warning">Add</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- UpdateProjectModal -->
    <div class="modal fade" id="updateProject" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Project</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("Update", "Project", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-6">
                                <input class="form-control" type="hidden" name="projectId" id="updateProjectId" placeholder="Id" readonly="">
                                <div class="mb-4">
                                    <label for="updateProjectName" class="form-label">Name</label>
                                    <input type="text" class="form-control" name="Name" id="updateProjectName" placeholder="Type your project name.">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                                </div>
                                <div class="mb-4">
                                    <label for="updateImageUrl" class="form-label">Image Url</label>
                                    <input class="form-control" name="ImageUrl" id="updateImageUrl" placeholder="Type your image url to here.">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="ImageUrl" data-valmsg-replace="true"></span>
                                </div>
                                <div class="mb-4">
                                    <div class="button-wrapper">
                                        <label for="ProjectImage" class="form-label">Upload Project Image</label>
                                        <input type="file" class="form-control" name="ProjectImage" id="ProjectImage">
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="updateDescription" class="form-label">Description</label>
                                    <textarea style="height: 150px;" class="form-control" name="Description" id="updateDescription" placeholder="Type your project description to here."></textarea>
                                    <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                                </div>
                                <div class="mb-3">
                                    <label for="SelectCategoryId" class="form-label">Category:</label>
                                    <select id="SelectCategoryId" name="CategoryId" class="form-select">
                                        <option value="">Select an option</option>
                                        @foreach (var category in ViewBag.Categories)
                                        {
                                            <option value="@category.CategoryId">@category.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="mb-4">
                                    <label for="updateGithubUrl" class="form-label">Github Url</label>
                                    <input class="form-control" name="GithubUrl" id="updateGithubUrl" placeholder="Type your image url to here.">
                                    <span class="field-validation-valid text-danger" data-valmsg-for="GithubUrl" data-valmsg-replace="true"></span>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-warning">Update</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- DeleteProjectModal -->
    <div class="modal fade" id="deleteproject" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteprojectTitle">Delete Project</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("Delete", "Project", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="modal-body">
                        <p>There is no come back. Are you sure?</p>
                        <!-- Kategori ID'si için gizli input -->
                        <input type="hidden" name="projectId" id="modalItemId" />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-6 mb-12 p-5">
        @foreach (var project in Model)
        {
            <div class="col">
                <div class="card h-100 position-relative" style="min-height: 350px;">
                    <span class="badge badge-center rounded-pill bg-label-secondary position-absolute top-0 start-0 m-2">@project.ProjectId</span>
                    <img class="card-img-top" src="@project.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@project.Name</h5>
                        <p class="card-text">
                            @project.Description
                            <br />
                            <br />
                            Category: @project.MyPortfolioTblCategory.Name
                        </p>
                        <button type="button" class="btn btn-outline-primary"
                                onclick="showUpdateModal(
            @project.ProjectId,
            '@project.Name',
            '@project.ImageUrl',
            '@Html.Raw(HttpUtility.JavaScriptStringEncode(project.Description))',
            @project.CategoryId,
            '@project.GithubUrl')">
                            <span class="tf-icons bx bx-edit-alt bx-18px me-2"></span>Update
                        </button>
                        <button type="button" class="btn btn-outline-primary" onclick="showDeleteModal(@project.ProjectId)">
                            <span class="tf-icons bx bx-x bx-18px me-2"></span>Delete
                        </button>
                        <a target="_blank" href="@project.GithubUrl"><i class="bx bxl-github ms-auto float-end" style="font-size: 24px; cursor: pointer;"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script>
    function showDeleteModal(projectId) {
        // Modal içindeki gizli input'a ID değerini aktarır
        $('#modalItemId').val(projectId);

        // Modalı gösterir
        $('#deleteproject').modal('show');
    }
    function showUpdateModal(projectId, projectName, projectImageUrl, projectDesc, projectCategoryId, projectGithubUrl) {
        // Modal içindeki gizli input'a ID değerini aktarır

        $('#updateProjectId').val(projectId);
        $('#updateProjectName').val(projectName)
        $('#updateImageUrl').val(projectImageUrl)
        $('#updateDescription').val(projectDesc)
        $('#updateGithubUrl').val(projectGithubUrl)

        $('#SelectCategoryId').val(projectCategoryId);

        // Modalı gösterir
        $('#updateProject').modal('show');
    }
</script>