@using Cental.DtoLayer.ProcessDtos
@model List<ResultProcessDtos>
@{
    ViewData["Title"] = "Index";
    Layout = "/Areas/Admin/Views/Layout/Layout.cshtml";
    int count = 1;
}

<div class="card-header">
    <h5>Processes</h5>
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="card-body">
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Delete Process</th>
            <th>Update Process</th>
        </tr>
        @foreach (var process in Model)
        {
            <tr>
                <td>@count</td>
                <td>@process.Title</td>
                <td>@process.Description</td>
                <td><a asp-action="DeleteProcess" asp-route-id="@process.ProcessId" asp-area="Admin" class="btn btn-danger">Delete</a></td>
                <td><a asp-action="UpdateProcess" asp-route-id="@process.ProcessId" asp-area="Admin" class="btn btn-info">Update</a></td>
            </tr>
            count++;
        }
    </table>

    <a asp-action="CreateProcess" asp-controller="Process" asp-area="Admin" class="btn btn-primary">Add New Process</a>
</div>
