@using Cental.DtoLayer.CarDtos
@model UpdateCarDto
@{
    ViewData["Title"] = "UpdateCar";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<div class="card-header">
    <h5>Update Car</h5>
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="card-body">
    <form method="post">
        <input type="hidden" asp-for="CarId"/>
        <label>Model Name</label>
        <input type="text" asp-for="ModelName" class="form-control" />
        <span asp-validation-for="ModelName" class="text-danger"></span>
        <br />

        <label>Image Url</label>
        <input type="text" asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
        <br />

        <label>Price</label>
        <input type="number" asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
        <br />

        <label>Seat Count</label>
        <input type="number" step="1" asp-for="SeatCount" class="form-control" />
        <span asp-validation-for="SeatCount" class="text-danger"></span>
        <br />

        <label>Gear Type</label>
        <select asp-for="GearType" asp-items="@ViewBag.GearTypes" class="form-control">
        </select>
        <span asp-validation-for="GearType" class="text-danger"></span>
        <br />

        <label>Fuel Type</label>
        <select asp-for="FuelType" asp-items="@ViewBag.FuelTypes" class="form-control">
        </select>
        <span asp-validation-for="FuelType" class="text-danger"></span>
        <br />

        <label>Year</label>
        <input type="number" min="1990" max="@DateTime.Now.Year" asp-for="Year" class="form-control" />
        <span asp-validation-for="Year" class="text-danger"></span>
        <br />

        <label>Transmission</label>
        <select asp-for="Transmission" asp-items="@ViewBag.Transmissions" class="form-control">
        </select>
        <span asp-validation-for="Transmission" class="text-danger"></span>
        <br />

        <label>Kilometer</label>
        <input type="number" step="1000" asp-for="Kilometer" class="form-control" />
        <span asp-validation-for="Kilometer" class="text-danger"></span>
        <br />

        <label>Brand</label>
        <select asp-for="BrandId" asp-items="@ViewBag.Brands as List<SelectListItem>" class="form-control">
        </select>
        <span asp-validation-for="BrandId" class="text-danger"></span>
        <br />

        <button class="btn btn-outline-primary">Update</button>
    </form>
</div>