@model RestaurantProject.Models.RestaurantHero

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="nav-align-top">
    <ul class="nav nav-pills flex-column flex-md-row mb-6">
        <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="bx bx-sm bx-game me-1_5"></i> Hero</a></li>
    </ul>
</div>
<div class="card mb-6 position-relative">
    <div class="tooltip-btn position-absolute" style="top: 10px; right: 10px;">

        <a href="/Hero/Delete/@Model.RestaurantHeroId" class="btn btn-danger">
            <i class="bx bx-trash"></i>
        </a>
        <span class="tooltip-text">Delete</span>
    </div>

    <div class="tooltip-btn position-absolute" style="top: 60px; right: 10px;">
        <a href="/Hero/AddHero" class="btn btn-primary">
            <i class='bx bx-plus-circle'></i>
        </a>
        <span class="tooltip-text">Add New Value</span>
    </div>

    <form action="/Hero/Index" method="post" enctype="multipart/form-data" class="fv-plugins-bootstrap5 fv-plugins-framework">
        <div class="card-body pt-4">
            <div class="d-flex justify-content-center pb-4 border-bottom">
                <img src="@Model.ImageUrl" alt="Image Preview" class="img-fluid rounded" style="max-width: 600px;">
            </div>
            <div class="row g-6">
                <div class="col-md-6 fv-plugins-icon-container">
                    <label for="Title" class="form-label">Title</label>
                    <input class="form-control" type="text" name="Title" id="Title" value="@Model.Title" placeholder="Title">
                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                </div>
                <div class="col-md-6">
                    <label for="Description" class="form-label">Description</label>
                    <input class="form-control" type="text" id="Description" name="Description" value="@Model.Description" placeholder="Description">
                </div>
                <div class="col-md-6">
                    <label for="ImageUrl" class="form-label">Hero Image URL</label>
                    <input class="form-control" type="text" id="ImageUrl" name="ImageUrl" value="@Model.ImageUrl" placeholder="Og Image">
                </div>
                <div class="col-md-6">
                    <div class="button-wrapper">
                        <label for="HeroImage" class="form-label">Upload Hero Image</label>
                        <input type="file" class="form-control" name="HeroImage" id="HeroImage">
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="VideoUrl" class="form-label">VideoUrl</label>
                    <input class="form-control" type="text" id="VideoUrl" name="VideoUrl" value="@Model.VideoUrl" placeholder="Video URL">
                </div>
            </div>
            <div class="mt-6">
                <button type="submit" class="btn btn-primary me-3">Save changes</button>
                <button type="reset" class="btn btn-label-secondary">Cancel</button>
            </div>
            <input type="hidden">
        </div>
    </form>
</div>
