@using MongoDbProject.Dtos.EventDtos
@model List<ResultEventDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
    int count = 1;
}

<div class="card-header">
    <h5>Events</h5>
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="card-body">

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Event Image</th>
            <th>Date</th>
            <th>Title</th>
            <th>Location</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        @foreach (var events in Model)
        {
            <tr>
                <td>@count</td>
                <td><img src="@events.ImageUrl" style="width:75px; height:75px" /></td>
                <td>@events.Title</td>
                <td>@events.ShortDate</td>
                <td>@events.Location</td>
                <td><a asp-action="DeleteEvent" asp-route-id="@events.EventId" asp-area="Admin" class="btn btn-danger">Delete</a></td>
                <td><a asp-action="UpdateEvent" asp-route-id="@events.EventId" asp-area="Admin" class="btn btn-info">Update</a></td>
            </tr>
            count++;
        }
    </table>

    <a asp-action="CreateEvent" asp-controller="Event" asp-area="Admin" class="btn btn-primary">Add New Event</a>
</div>