@model MyPortfolio.Models.MyPortfolioTblContact
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout/AdminLayout.cshtml";
}

<div class="card">
    <div class="d-flex justify-content-between align-items-center p-3">
        <h5 class="card-header mb-0">
            Contact
        </h5>
    </div>

    <!-- UpdateContactModal -->
    <div class="modal fade" id="updateContact" tabindex="-1" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Contact</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                @using (Html.BeginForm("Update", "Contact", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <script>
                        $('#updateContactId').val(contactId);
                        $('#updatePhone').val(contactPhone)
                        $('#updateEmail').val(contactEmail)
                        $('#updateTitle').val(contactTitle)
                        $('#updateDesc').val(contactDesc)
                    </script>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-6">
                                <input class="form-control" type="hidden" name="ContactId" id="updateContactId" placeholder="Id" readonly="">
                                <div class="mb-4">
                                    <label for="updatePhone" class="form-label">Phone</label>
                                    <input type="tel" class="form-control" name="Phone" id="updatePhone" placeholder="Type your contact phone.">
                                </div>
                                <div class="mb-4">
                                    <label for="updateEmail" class="form-label">Email</label>
                                    <input type="email" class="form-control" name="Email" id="updateEmail" placeholder="Type your email.">
                                </div>
                                <div class="mb-4">
                                    <label for="updateTitle" class="form-label">Title</label>
                                    <input type="text" class="form-control" name="Title" id="updateTitle" placeholder="Contact Me, Contact...">
                                </div>
                                <div class="mb-4">
                                    <label for="updateDesc" class="form-label">Description</label>
                                    <textarea style="height:150px" class="form-control" name="Description" id="updateDesc" placeholder="Type your description text to here."></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-warning">Update</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table">
            <thead>
                <tr>
                    <th>Contact Id</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                <tr>
                    <td><i class="bx bx-flag bx-md text-primary me-4"></i> <span>@Model.ContactId</span></td>
                    <td>@Model.Phone</td>
                    <td>@Model.Email</td>
                    <td>@Model.Title</td>
                    <td>@Model.Description.Substring(0, 20)...</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary" onclick="showUpdateModal(@Model.ContactId,'@Model.Phone','@Model.Email', '@Model.Title', '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.Description))')">
                            <span class="tf-icons bx bx-edit-alt bx-18px me-2"></span>Update
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
    </div>
</div>
<script>
    function showUpdateModal(contactId, contactPhone, contactEmail, contactTitle, contactDesc) {
        // Modal içindeki gizli input'a ID değerini aktarır

        $('#updateContactId').val(contactId);
        $('#updatePhone').val(contactPhone)
        $('#updateEmail').val(contactEmail)
        $('#updateTitle').val(contactTitle)
        $('#updateDesc').val(contactDesc)

        // Modalı gösterir
        $('#updateContact').modal('show');
    }
</script>

